@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --mainFont: 'Inter', "Montserrat", Arial, Helvetica, sans-serif;
  --errorRed: red;
  --successGreen: #099f09;
  --headerHeight: 75px;
  --pageMaxWidth: 1250px;
  --mainBlue: #1F75FE;
  --mirage: #151D24;
  /* light theme variables */
  --mainBg: #FFF;
  --secondaryBg: #F5F5FF;
  --txtColour: #000;
  --subTxtColour: #1F75FE;
  --titleColour: #333333;
  --placeholder: #909090;
  --buttonBg: #1F75FE;
  --buttonHoverBg: #1048a2;
  --buttonColour: #FFF;
  --headerShadow: 0 2px 10px rgba(0,0,0,0.1);
  --boxShadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* dark theme variable */
:root.dark {
  --mainBg: #151D24;
  --secondaryBg: #2B3640;
  --txtColour: #FFF;
  --subTxtColour: #E08A01;
  --titleColour: #FFF;
  --placeholder: rgba(255,255,255);
  --buttonBg: #E08A01;
  --buttonHoverBg: #b26e01;
  --buttonColour: #FFF;
  --headerShadow: 0 4px 8px rgba(255, 255, 255, 0.05), 
                  0 2px 4px rgba(255, 255, 255, 0.1);
  --boxShadow: 0 4px 10px rgba(173, 216, 230, 0.1);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  font-size: 12px;
  padding-top: var(--headerHeight);
  background: var(--mainBg);
  color: var(--txtColour);
}

li {
  list-style: none;
}
button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
button:focus {
  border: 1px solid var(--buttonBg);
  box-shadow: 0 0 5px rgba(31, 117, 254, 0.7);
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  color: var(--txtColour);
}

::placeholder,
::-ms-input-placeholder,
:-ms-input-placeholder {
  color: var(--placeholder);
}

a {
  text-decoration: none;
  outline: none;
}
a:focus {
  border: 1px solid var(--subTxtColour);
  box-shadow: 0 0 5px rgba(31, 117, 254, 0.7);
}

.success {
  color: var(--successGreen);
}
.error {
  color: var(--errorRed);
}

.title {
  color: var(--titleColour);
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.title.small {
  font-size: 1.4rem;
}

.sub-title {
  color: var(--subTxtColour);
  font-weight: bold;
  font-size: 2rem;
}

section > .wrapper {
  max-width: var(--pageMaxWidth);
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}

@keyframes scale-up {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-125px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(125px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-left, .fade-right {
  opacity: 0.01;
  will-change: opacity, transform;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-left {
  transform: translateX(-150px);
}
.fade-left.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-right {
  transform: translateX(150px);
}
.fade-right.show {
  opacity: 1;
  transform: translateX(0);
}
.scale-up {
  opacity: 0.01;
  scale: 0.6;
  will-change: opacity, transform;
  transition: opacity 0.6s ease-out, scale 0.6s ease-out;
}
.scale-up.show {
  opacity: 1;
  scale: 1;
}

/*
.appear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.in-left {
  animation: appear-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.in-right {
  animation: appear-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2rem;
  }
  .title.small {
    font-size: 1.2rem;
  }
  .sub-title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 992px) {
  .title {
    font-size: 1.8rem;
  }
  .sub-title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  section .wrapper {
    padding: 3rem 0;
  }
}